{% extends "contacts.html" %}

{% block title %} {{ title}} {% endblock %}

{% block menu %} {{block.super}} {% endblock %}

{% block content %}
   <div class="contact-info">
        <div class="column">
        <div>ТОРТЫ</div>
        <div>изготавливаем торты любой сложности на любые мероприятия,</div>
            <div>будь то день рождения или свадьба</div>
        <br>
        <div>КАПКЕЙКИ</div>
        <div>отличный вариант для небольшого презента</div>
        <div>так же создаем сеты для большой и дружной компании</div>
        <br>
        <div>ПОНЧИКИ</div>
        <div>великое разнообразие пончиков на любой вкус</div>
        <br>
        <div>КЕЙТЕРИНГ</div>
        <div>мероприятия под ключ, вкуснейшие блюда от наших партнеров</div>
            <div>и конечно наши великолепные десерты</div>
        <br>
        </div>
   </div>
{% endblock %}

{% block bottom_title %}
    <div class="title">
        <p >УСЛУГИ</p>
    </div>
{% endblock %}